In [1]:
#Connect to Postgres
#!pip install psycopg2
import pandas as pd
from sqlalchemy import create_engine

conn_url = 'postgresql://postgres:123@localhost/postgres'
engine = create_engine(conn_url)
connection = engine.connect()

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/anamikamishra/anaconda3/lib/python3.10/site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Load data
df = pd.read_csv('Sample - Superstore.csv', encoding='latin-1')

#Cleanse & Transform
df.dropna(inplace=True)
distinct_categories = df['Category'].unique()
category_id_mapping = {category: f'{i:04d}' for i, category in enumerate(distinct_categories, start=1)}
df['category_id'] = df['Category'].map(category_id_mapping)
df[['first_name', 'last_name']] = df['Customer Name'].str.split(n=1, expand=True)
df.drop(columns=['Customer Name'], inplace=True)
df.rename(columns={'Quantity': 'quantity','Sales': 'sales','Order ID': 'order_id', 'Ship Date': 'ship_date','Order Date': 'order_date','Customer ID': 'customer_id','Product ID': 'product_id', 'Product Name': 'product_name', 'Category': 'category_name'}, inplace=True)
df['category_id'] = df['category_id'].astype(int)
df['ship_date'] = pd.to_datetime(df['ship_date'])
df['order_date'] = pd.to_datetime(df['order_date'])
df.head(4)

,Row ID,order_id,order_date,ship_date,Ship Mode,customer_id,Segment,Country,City,State,...,category_name,Sub-Category,product_name,sales,quantity,Discount,Profit,category_id,first_name,last_name
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,1,Claire,Gute
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,1,Claire,Gute
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2,Darrin,Van Huff
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,1,Sean,O'Donnell

In [4]:
#productCategory
pc_df = df[['category_id', 'category_name']].drop_duplicates()

#Load Data Based on Schema
pc_df.to_sql('productcategory', engine, if_exists='append', index=False)

3

In [5]:
#products
products = df.loc[:, ['product_id', 'category_id', 'product_name', 'sales', 'quantity']].copy()
products = products.loc[products.groupby('product_id')['quantity'].idxmin()]

def calculate_unit_price(row):
    if row['quantity'] == 1:
        return round(row['sales'], 2)
    else:
        return round(row['sales'] / row['quantity'], 2)

products['unit_price'] = products.apply(calculate_unit_price, axis=1)
products.drop(columns=['sales', 'quantity'], inplace=True)


products.to_sql('products', engine, if_exists='append', index=False)

862

In [6]:
#!pip install Faker

In [7]:
#promotion
#!pip install Faker
from faker import Faker
import random
from datetime import datetime, timedelta
import pandas as pd

fake = Faker()
num_rows = 1000

product_id = df['product_id'].sample(n=num_rows, replace=True).tolist()

def generate_promotion_name(discount_percentage):
    if discount_percentage >= 80:
        return fake.catch_phrase()
    elif discount_percentage >= 50:
        return fake.word(ext_word_list=['Super Sale', 'Mega Deal', 'Flash Discount'])
    elif discount_percentage >= 30:
        return fake.word(ext_word_list=['Big Savings', 'Special Offer', 'Limited Time'])
    else:
        return fake.word(ext_word_list=['Sale', 'Discount', 'Deal'])

promotion_id = [i + 1 for i in range(num_rows)]
promotion_id_name = [generate_promotion_name(random.uniform(0, 100)) for _ in range(num_rows)]
discount_percentage = [random.uniform(0, 100) for _ in range(num_rows)]
start_date = [fake.date_time_between(start_date='-1y', end_date='+1y', tzinfo=None) for _ in range(num_rows)]
end_date = [start + timedelta(days=random.randint(1, 90)) for start in start_date]

data = {
    'promotion_id': promotion_id,
    'product_id': product_id,
    'promotion_id_name': promotion_id_name,
    'discount_percentage': discount_percentage,
    'start_date': start_date,
    'end_date': end_date
}

promo_df = pd.DataFrame(data)
promo_df.to_sql('promotion', engine, if_exists='append', index=False)

1000

In [8]:
num_records = 200
data = []
for _ in range(num_records):
    employee_id = fake.unique.random_number(digits=6)
    first_name = fake.first_name()[:50]
    last_name = fake.last_name()[:50]
    email = f"{first_name.lower()}.{last_name.lower()}@company.com"[:100]
    phone = fake.phone_number()[:50]
    gender = random.choice(["Male", "Female"])
    position = fake.job()[:50]
    employeed_date = fake.date_between(start_date='-5y', end_date='today')
    data.append((employee_id, first_name, last_name, email, phone, gender, position, employeed_date))

employee = pd.DataFrame(data, columns=['employee_id', 'first_name', 'last_name', 'email', 'phone', 'gender', 'position', 'employeed_date'])
employee.to_sql('employees', engine, if_exists='append', index=False)

200

In [9]:
def split_name(row):
    if pd.isnull(row['last_name']):
        name_parts = row['first_name'].split('-', 1)
        if len(name_parts) == 2:
            row['first_name'] = name_parts[0]
            row['last_name'] = name_parts[1]
    return row

df = df.apply(split_name, axis=1)

customer = df.loc[:, ['customer_id', 'first_name', 'last_name']].copy()
customer = customer.drop_duplicates()
customer['email'] = customer.apply(lambda row: f"{row['first_name'].lower()}.{row['last_name'].lower()}@company.com", axis=1)
customer['phone'] = customer.apply(lambda row: fake.phone_number(), axis=1)
customer.head()
customer.to_sql('customers', engine, if_exists='append', index=False)

793

In [10]:
num_stores = 15

data = []
for store_id in range(1, num_stores + 1):
    store_name = fake.company()
    store_manager = fake.name()
    num_of_employees = fake.random_int(min=5, max=50)
    zipcode = fake.zipcode()
    city = fake.city()
    data.append((store_id, store_name, store_manager, num_of_employees, zipcode, city))

stores_df = pd.DataFrame(data, columns=['store_id', 'store_name', 'store_manager', 'num_of_employees', 'zipcode', 'city'])
stores_df.to_sql('stores', engine, if_exists='append', index=False)

15

In [11]:
import random

def generate_unique_id(existing_ids):
    while True:
        new_id = random.randint(1000, 9999)
        if new_id not in existing_ids:
            return new_id

existing_ids = set()

store_employee_data = []

employee_ids = employee['employee_id'].sample(frac=1).tolist()
store_ids = stores_df['store_id'].sample(frac=1).tolist()

while len(employee_ids) > 0 and len(store_ids) > 0:
    store_id = store_ids.pop(0)
    employee_id = employee_ids.pop(0)
    unique_id = generate_unique_id(existing_ids)
    existing_ids.add(unique_id)

    store_employee_data.append((unique_id, store_id, employee_id))

    store_ids.append(store_id)

store_employee_df = pd.DataFrame(store_employee_data, columns=['id', 'store_id', 'employee_id'])


store_employee_df.to_sql('store_employees', engine, if_exists='append', index=False)

200

In [12]:
import numpy as np
import pandas as pd

valid_store_ids = stores_df['store_id'].unique()

order_store_mapping = df.groupby('order_id').apply(lambda x: np.random.choice(valid_store_ids)).reset_index()
order_store_mapping.columns = ['order_id', 'store_id']

df = df.merge(order_store_mapping, on='order_id', how='left')

df['store_id'] = df['store_id'].fillna(np.random.choice(valid_store_ids))

orders_df = df[['order_id', 'store_id', 'customer_id', 'order_date', 'sales', 'ship_date']].drop_duplicates(subset=['order_id'], keep='first')


orders_df.to_sql('orders', engine, if_exists='append', index=False)

9

In [13]:

def generate_unique_id(existing_ids):
    while True:
        new_id = random.randint(100000, 999999)
        if new_id not in existing_ids:
            existing_ids.add(new_id)
            return new_id


orderItem = ['order_id', 'product_id', 'quantity']
orderItem_df = df[orderItem].copy()

existing_ids = set()
orderItem_df['id'] = orderItem_df.apply(lambda row: generate_unique_id(existing_ids), axis=1)

orderItem_df = orderItem_df[['id'] + orderItem]
orderItem_df.to_sql('orderitem', engine, if_exists='append', index=False)

994

In [14]:
orderItem_df.head()

       id        order_id       product_id  quantity
0  745995  CA-2016-152156  FUR-BO-10001798         2
1  528693  CA-2016-152156  FUR-CH-10000454         3
2  612385  CA-2016-138688  OFF-LA-10000240         2
3  426155  US-2015-108966  FUR-TA-10000577         5
4  150946  US-2015-108966  OFF-ST-10000760         2

In [15]:
def generate_fake_vendor_name(fake, category_name):
    if category_name == 'Furniture':
        return fake.last_name()[:50] + ' Furniture Co.'
    elif category_name == 'Office Supplies':
        return fake.last_name()[:50] + ' Office Supplies'
    elif category_name == 'Technology':
        return fake.last_name()[:50] + ' Technologies'
    else:
        return fake.last_name()[:50] + ' Company'

def generate_fake_vendors(num_vendors):
    fake = Faker()
    data = []
    existing_ids = set()
    for _ in range(num_vendors):
        vendor_id = generate_unique_id(existing_ids)
        category_name = random.choice(['Furniture', 'Office Supplies', 'Technology'])
        vendor_name = generate_fake_vendor_name(fake, category_name)
        email = fake.email()[:50]
        state = fake.state_abbr()
        contact_num = fake.phone_number()[:20]
        data.append((vendor_id, vendor_name, email, state, contact_num, category_name))
        existing_ids.add(vendor_id)
    return pd.DataFrame(data, columns=['vendor_id', 'vendor_name', 'email', 'state', 'contact_num', 'category_name'])

num_vendors = 30
vendor_data = generate_fake_vendors(num_vendors)

columns = ['vendor_id', 'vendor_name', 'email', 'state', 'contact_num']
vendor_df = vendor_data[columns]
vendor_df.to_sql('vendors', engine, if_exists='append', index=False)

30

In [16]:
vendor_data = vendor_data.merge(pc_df, on='category_name', how='left')
products_df = df[['product_id', 'category_id']]
vendor_dat = vendor_data[['vendor_id', 'category_id']]



import pandas as pd
from itertools import cycle

def assign_vendor_to_products(products_df, vendor_data):
    # Check if the 'vendor_id' column exists in the products_df
    if 'vendor_id' not in products_df.columns:
        products_df['vendor_id'] = None

    counter = 1
    while counter < 4:
        # Select the vendor where category_id == counter
        selected_vendor = vendor_data[vendor_data['category_id'] == counter]

        # Select the product_id where category_id == counter
        selected_products = products_df[products_df['category_id'] == counter]

        # Create a circular iterator for the selected vendor IDs
        circular_vendor_ids = cycle(selected_vendor['vendor_id'])

        # Iterate over the selected product IDs
        for _, product_row in selected_products.iterrows():
            # Check if the 'vendor_id' for this product is still NaN
            if pd.isna(products_df.at[product_row.name, 'vendor_id']):
                # Assign the vendor to the product
                vendor_id = next(circular_vendor_ids)
                products_df.loc[product_row.name, 'vendor_id'] = vendor_id

        # Increment the counter to move to the next category_id
        counter += 1

    return products_df

products_with_vendors_df = assign_vendor_to_products(products_df, vendor_dat)

products_with_vendors_df['id'] = products_with_vendors_df.apply(lambda row: generate_unique_id(existing_ids), axis=1)

/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3040264351.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_df['vendor_id'] = None
/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3040264351.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_with_vendors_df['id'] = products_with_vendors_df.apply(lambda row: generate_unique_id(existing_ids), axis=1)

In [17]:
columns = ['id','vendor_id', 'product_id']
products_with_vendors_df = products_with_vendors_df[columns]
products_with_vendors_df.to_sql('productvendor', engine, if_exists='append', index=False)

994

In [18]:
df['ship_date'] = pd.to_datetime(df['ship_date'])

columns = ['order_id','ship_date']
delivery_df= df[columns]
delivery_df['delivery_date'] = delivery_df['ship_date'] + pd.to_timedelta([random.randint(1, 30) for _ in range(len(delivery_df))], unit='D')

# Generate delivery_id data
delivery_df['delivery_id'] = range(1, len(delivery_df) + 1)


# Create the DataFrame with the desired schema
delivery_data = {
    'delivery_id': delivery_df['delivery_id'],
    'order_id': delivery_df['order_id'],
    'deliveryman_id': random.choices(employee['employee_id'], k=len(delivery_df)),
    'delivery_date': delivery_df['delivery_date']
}

delivery_df = pd.DataFrame(delivery_data)
delivery_df.to_sql('delivery', engine, if_exists='append', index=False)

/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3732638987.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['delivery_date'] = delivery_df['ship_date'] + pd.to_timedelta([random.randint(1, 30) for _ in range(len(delivery_df))], unit='D')
/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3732638987.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['delivery_id'] = range(1, len(delivery_df) + 1)

994

In [19]:
columns = ['product_id','store_id']
inventory_df = df[columns]
inventory_df['amount'] = [random.randint(0, 50) for _ in range(len(inventory_df))]
inventory_df['stock_status'] = inventory_df['amount'].apply(lambda x: 'high stock' if x > 30 else ('in stock' if 15 <= x <= 30 else 'low stock'))
inventory_df['id'] = inventory_df.apply(lambda row: generate_unique_id(existing_ids), axis=1)

inventory_df.to_sql('inventory', engine, if_exists='append', index=False)

/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3270186832.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inventory_df['amount'] = [random.randint(0, 50) for _ in range(len(inventory_df))]
/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3270186832.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inventory_df['stock_status'] = inventory_df['amount'].apply(lambda x: 'high stock' if x > 30 else ('in stock' if 15 <= x <= 30 else 'low stock'))
/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3270186832.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inventory_df['id'] = inventory_df.apply(lambda row: generate_unique_id(existing_ids), axis=1)

994

In [20]:
columns = ['order_id','order_date']
invoice_df = df[columns]
invoice_df['invoice_id'] = invoice_df.apply(lambda row: generate_unique_id(existing_ids), axis=1)
invoice_df['issue_date'] = invoice_df['order_date'] + pd.Timedelta(days=1)
invoice_df['due_date'] = invoice_df['order_date'] + pd.Timedelta(days=2)
invoice_df['amount_paid'] = df['sales'] * 0.5

columns = ['invoice_id','order_id','issue_date','due_date', 'amount_paid']
invoice_df = invoice_df[columns]
invoice_df.to_sql('invoice', engine, if_exists='append', index=False)

/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3291715602.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_df['invoice_id'] = invoice_df.apply(lambda row: generate_unique_id(existing_ids), axis=1)
/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3291715602.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_df['issue_date'] = invoice_df['order_date'] + pd.Timedelta(days=1)
/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3291715602.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_df['due_date'] = invoice_df['order_date'] + pd.Timedelta(days=2)
/var/folders/yr/fpc8ln0j069gbffxxps09_j80000gn/T/ipykernel_19066/3291715602.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_df['amount_paid'] = df['sales'] * 0.5

994

# Query 1

In [21]:
#top five stores by average order value 

top_five = """
SELECT
    s.store_name,
    AVG(o.sales) AS avg_order_amount
FROM
    orders o
INNER JOIN
    stores s ON o.store_id = s.store_id
GROUP BY
    s.store_name
ORDER BY
    avg_order_amount DESC
LIMIT 5
"""

bottom_five = """
SELECT
    s.store_name,
    AVG(o.sales) AS avg_order_amount
FROM
    orders o
INNER JOIN
    stores s ON o.store_id = s.store_id
GROUP BY
    s.store_name
ORDER BY
    avg_order_amount
LIMIT 5
"""

top_ave = pd.read_sql(top_five, engine)
bottom_ave = pd.read_sql(bottom_five, engine)

print("Top 5 Stores by Average Order Amount:")
print(top_ave)

print("\nBottom 5 Stores by Average Order Amount:")
print(bottom_ave)

Top 5 Stores by Average Order Amount:
                      store_name  avg_order_amount
0  Freeman, Elliott and Campbell        276.106812
1                   Knox-Wiggins        276.106812
2                   Gonzalez PLC        240.459161
3   Richards, Delgado and Bailey        240.459161
4                     Morris LLC        239.517566

Bottom 5 Stores by Average Order Amount:
                     store_name  avg_order_amount
0        Hebert, King and Jones        180.406229
1                   Johnson LLC        180.406229
2      Ross, Guerrero and Hines        193.133720
3  Moore, Figueroa and Chandler        193.133720
4                    Martin Ltd        203.875456

In [22]:
pd.DataFrame(top_ave)

                      store_name  avg_order_amount
0  Freeman, Elliott and Campbell        276.106812
1                   Knox-Wiggins        276.106812
2                   Gonzalez PLC        240.459161
3   Richards, Delgado and Bailey        240.459161
4                     Morris LLC        239.517566

In [23]:
pd.DataFrame(bottom_ave)

                     store_name  avg_order_amount
0        Hebert, King and Jones        180.406229
1                   Johnson LLC        180.406229
2      Ross, Guerrero and Hines        193.133720
3  Moore, Figueroa and Chandler        193.133720
4                    Martin Ltd        203.875456

# Query 2

In [24]:
#Query 2: Top product sold for each store
top_products =  """
WITH RankedProducts AS (
    SELECT
        s.store_name,
        p.product_name,
        SUM(oi.quantity) AS total_quantity_sold,
        ROW_NUMBER() OVER (PARTITION BY s.store_name ORDER BY SUM(oi.quantity) DESC) AS rn
    FROM
        orderitem oi
    JOIN
        products p ON oi.product_id = p.product_id
    JOIN
        orders o ON oi.order_id = o.order_id
    JOIN
        stores s ON o.store_id = s.store_id
    GROUP BY
        s.store_name,
        p.product_name
)
SELECT
    store_name,
    product_name,
    total_quantity_sold
FROM
    RankedProducts
WHERE
    rn = 1
"""

top_products_perStore = pd.read_sql(top_products, engine)
print(top_products_perStore)

                       store_name  \
0        Ayala, Johnson and Jones
1          Barry, Tran and Osborn
2                       Davis PLC
3   Freeman, Elliott and Campbell
4                    Gonzalez PLC
5                 Greene and Sons
6          Hebert, King and Jones
7               Henderson-Ramirez
8                  Huffman-Harris
9                       James Ltd
10                    Johnson LLC
11                   Knox-Wiggins
12                     Martin Ltd
13   Moore, Figueroa and Chandler
14                     Morris LLC
15                Newman-Campbell
16                     Newman Ltd
17                  Payne-Roberts
18        Pearson, Cook and Brown
19                      Pitts LLC
20        Rice, Marshall and Hall
21   Richards, Delgado and Bailey
22                Rivera-Browning
23                    Rogers-Ford
24       Ross, Guerrero and Hines
25          Rubio, Davis and Dunn
26                  Sullivan-King
27        Thomas, Hill and Torres
28            Williamson-Williams
29                     Zavala PLC

                                         product_name  total_quantity_sold
0                                     Staple envelope                152.0
1                                             Staples                104.0
2                                             Staples                220.0
3                  LogitechÂ P710e Mobile Speakerphone                172.0
4                                     Staple envelope                120.0
5                                             Staples                140.0
6              Global Stack Chair without Arms, Black                148.0
7   Memorex Mini Travel Drive 16 GB USB 2.0 Flash ...                108.0
8                                             Staples                160.0
9                                     Staple envelope                128.0
10             Global Stack Chair without Arms, Black                148.0
11                 LogitechÂ P710e Mobile Speakerphone                172.0
12                                            Staples                240.0
13           OIC Colored Binder Clips, Assorted Sizes                164.0
14                                  Easy-staple paper                132.0
15                                            Staples                104.0
16                                            Staples                160.0
17                          Macally Suction Cup Mount                104.0
18                                    Staple envelope                152.0
19                        Lock-Up Easel 'Spel-Binder'                124.0
20                        Lock-Up Easel 'Spel-Binder'                124.0
21                                    Staple envelope                120.0
22  Memorex Mini Travel Drive 16 GB USB 2.0 Flash ...                108.0
23                                  Easy-staple paper                132.0
24           OIC Colored Binder Clips, Assorted Sizes                164.0
25                                    Staple envelope                128.0
26                                            Staples                240.0
27                                            Staples                140.0
28                                            Staples                220.0
29                          Macally Suction Cup Mount                104.0

In [25]:
pd.DataFrame(top_products_perStore)

,store_name,product_name,total_quantity_sold
0,"Ayala, Johnson and Jones",Staple envelope,152.0
1,"Barry, Tran and Osborn",Staples,104.0
2,Davis PLC,Staples,220.0
3,"Freeman, Elliott and Campbell",LogitechÂ P710e Mobile Speakerphone,172.0
4,Gonzalez PLC,Staple envelope,120.0
5,Greene and Sons,Staples,140.0
6,"Hebert, King and Jones","Global Stack Chair without Arms, Black",148.0
7,Henderson-Ramirez,Memorex Mini Travel Drive 16 GB USB 2.0 Flash ...,108.0
8,Huffman-Harris,Staples,160.0
9,James Ltd,Staple envelope,128.0
10,Johnson LLC,"Global Stack Chair without Arms, Black",148.0
11,Knox-Wiggins,LogitechÂ P710e Mobile Speakerphone,172.0
12,Martin Ltd,Staples,240.0
13,"Moore, Figueroa and Chandler","OIC Colored Binder Clips, Assorted Sizes",164.0
14,Morris LLC,Easy-staple paper,132.0
15,Newman-Campbell,Staples,104.0
16,Newman Ltd,Staples,160.0
17,Payne-Roberts,Macally Suction Cup Mount,104.0
18,"Pearson, Cook and Brown",Staple envelope,152.0
19,Pitts LLC,Lock-Up Easel 'Spel-Binder',124.0
20,"Rice, Marshall and Hall",Lock-Up Easel 'Spel-Binder',124.0
21,"Richards, Delgado and Bailey",Staple envelope,120.0
22,Rivera-Browning,Memorex Mini Travel Drive 16 GB USB 2.0 Flash ...,108.0
23,Rogers-Ford,Easy-staple paper,132.0
24,"Ross, Guerrero and Hines","OIC Colored Binder Clips, Assorted Sizes",164.0
25,"Rubio, Davis and Dunn",Staple envelope,128.0
26,Sullivan-King,Staples,240.0
27,"Thomas, Hill and Torres",Staples,140.0
28,Williamson-Williams,Staples,220.0
29,Zavala PLC,Macally Suction Cup Mount,104.0

# Query 3

In [26]:
#Query 3: Inventory level for a store based on user input showing the status and quantity of each product:

user_store_id = int(input("Enter the store ID (1-30) to see its inventory levels: "))
if user_store_id < 1 or user_store_id > 30:
    print("Invalid store ID. Please enter a valid store ID between 1 and 30.")
else:
    Inventory_update = f"""
    SELECT
        i.store_id,
        s.store_name,
        i.product_id,
        p.product_name,
        i.amount,
        i.stock_status
    FROM
        inventory i
    JOIN
        stores s ON i.store_id = s.store_id
    JOIN
        products p ON i.product_id = p.product_id
    WHERE
        s.store_id = {user_store_id}
    """


Inventory_level = pd.read_sql(Inventory_update, engine)

if Inventory_level.empty:
        print(f"No inventory data found for the store with ID '{user_store_id}'.")
else:
        print(f"Inventory Levels for Store ID: {user_store_id}")
        print(Inventory_level)

Enter the store ID (1-30) to see its inventory levels: 3
Inventory Levels for Store ID: 3
      store_id   store_name       product_id  \
0            3   Morris LLC  FUR-BO-10000780
1            3  Rogers-Ford  FUR-BO-10000780
2            3   Morris LLC  FUR-BO-10000780
3            3  Rogers-Ford  FUR-BO-10000780
4            3   Morris LLC  FUR-BO-10001798
...        ...          ...              ...
2755         3  Rogers-Ford  TEC-PH-10004897
2756         3   Morris LLC  TEC-PH-10004977
2757         3  Rogers-Ford  TEC-PH-10004977
2758         3   Morris LLC  TEC-PH-10004977
2759         3  Rogers-Ford  TEC-PH-10004977

                                           product_name  amount stock_status
0     O'Sullivan Plantations 2-Door Library in Landv...      29     in stock
1     O'Sullivan Plantations 2-Door Library in Landv...      29     in stock
2     O'Sullivan Plantations 2-Door Library in Landv...       1    low stock
3     O'Sullivan Plantations 2-Door Library in Landv...       1    low stock
4                     Bush Somerset Collection Bookcase      39   high stock
...                                                 ...     ...          ...
2755                Mediabridge Sport Armband iPhone 5s       1    low stock
2756                                        GE 30524EE4      10    low stock
2757                                        GE 30524EE4      10    low stock
2758                                        GE 30524EE4      46   high stock
2759                                        GE 30524EE4      46   high stock

[2760 rows x 6 columns]

# Query 4

In [27]:
#Query 4: Amount of days it took for each order to be delivered

Days_for_Delivery = """
SELECT
    o.order_id,
    EXTRACT(DAY FROM (d.delivery_date - o.ship_date)) AS delivery_days
FROM
    orders o
INNER JOIN
    delivery d ON o.order_id = d.order_id
ORDER BY
    delivery_days DESC;
"""



Delivery_timeline = pd.read_sql(Days_for_Delivery, engine)
print(Delivery_timeline)

             order_id  delivery_days
0      US-2015-123960           30.0
1      CA-2015-104486           30.0
2      CA-2014-117345           30.0
3      CA-2015-114811           30.0
4      CA-2015-114811           30.0
...               ...            ...
19983  CA-2016-155992            1.0
19984  CA-2016-105732            1.0
19985  CA-2016-119186            1.0
19986  CA-2017-169327            1.0
19987  CA-2014-165764            1.0

[19988 rows x 2 columns]

# Query 5

In [28]:
#Query 5: Breakdown of revenue by category:

Rev_category ="""
SELECT
    c.category_name,
    SUM(p.unit_price * od.quantity) AS total_revenue
FROM
    orders o
JOIN
    orderitem od ON o.order_id = od.order_id
JOIN
    products p ON od.product_id = p.product_id
JOIN
    productcategory c ON p.category_id = c.category_id
GROUP BY
    c.category_name
ORDER BY
    total_revenue DESC
"""

result_Rev_category = pd.read_sql(Rev_category, engine)
print(result_Rev_category)

     category_name  total_revenue
0       Technology   1.359351e+07
1  Office Supplies   1.214101e+07
2        Furniture   1.204402e+07

# Query 6

In [29]:
#Query 6: Top Selling Products:
top_selling_products_query = """
SELECT
    p.product_name,
    SUM(oi.quantity) AS total_quantity_sold
FROM
    products p
JOIN
    orderitem oi ON p.product_id = oi.product_id
GROUP BY
    p.product_name
ORDER BY
    total_quantity_sold DESC
LIMIT 10;
"""

top_selling_products_data = pd.read_sql(top_selling_products_query, engine)
print(top_selling_products_data)

                                        product_name  total_quantity_sold
0                                            Staples                860.0
1                                    Staple envelope                680.0
2                                  Easy-staple paper                600.0
3                            Staples in misc. colors                344.0
4                 LogitechÂ P710e Mobile Speakerphone                300.0
5                         KI Adjustable-Height Table                296.0
6                            Avery Non-Stick Binders                284.0
7                            Storex Dura Pro Binders                284.0
8                                         Xerox 1908                280.0
9  GBC Premium Transparent Covers with Diagonal L...                268.0

In [30]:
pd.DataFrame(top_selling_products_data)

                                        product_name  total_quantity_sold
0                                            Staples                860.0
1                                    Staple envelope                680.0
2                                  Easy-staple paper                600.0
3                            Staples in misc. colors                344.0
4                 LogitechÂ P710e Mobile Speakerphone                300.0
5                         KI Adjustable-Height Table                296.0
6                            Avery Non-Stick Binders                284.0
7                            Storex Dura Pro Binders                284.0
8                                         Xerox 1908                280.0
9  GBC Premium Transparent Covers with Diagonal L...                268.0

# Query 7

In [31]:
#Query 7 :Average order by store query 
average_order_by_store_query = """
SELECT
    s.store_name,
    AVG(o.sales) AS average_order_amount
FROM
    orders o
JOIN
    stores s ON o.store_id = s.store_id
GROUP BY
    s.store_name
ORDER BY
    average_order_amount DESC;
"""

average_order_by_store_data = pd.read_sql(average_order_by_store_query, engine)
print(average_order_by_store_data)

                       store_name  average_order_amount
0   Freeman, Elliott and Campbell            276.106812
1                    Knox-Wiggins            276.106812
2                    Gonzalez PLC            240.459161
3    Richards, Delgado and Bailey            240.459161
4                     Rogers-Ford            239.517566
5                      Morris LLC            239.517566
6                 Greene and Sons            236.219439
7         Thomas, Hill and Torres            236.219439
8             Williamson-Williams            233.104823
9                       Davis PLC            233.104823
10                      James Ltd            219.985163
11          Rubio, Davis and Dunn            219.985163
12                Newman-Campbell            219.814288
13         Barry, Tran and Osborn            219.814288
14              Henderson-Ramirez            216.268485
15                Rivera-Browning            216.268485
16                     Zavala PLC            213.717600
17                  Payne-Roberts            213.717600
18                     Newman Ltd            212.030942
19                 Huffman-Harris            212.030942
20        Pearson, Cook and Brown            210.578324
21       Ayala, Johnson and Jones            210.578324
22                      Pitts LLC            203.947986
23        Rice, Marshall and Hall            203.947986
24                  Sullivan-King            203.875456
25                     Martin Ltd            203.875456
26   Moore, Figueroa and Chandler            193.133720
27       Ross, Guerrero and Hines            193.133720
28                    Johnson LLC            180.406229
29         Hebert, King and Jones            180.406229

In [32]:
pd.DataFrame(average_order_by_store_data)

                       store_name  average_order_amount
0   Freeman, Elliott and Campbell            276.106812
1                    Knox-Wiggins            276.106812
2                    Gonzalez PLC            240.459161
3    Richards, Delgado and Bailey            240.459161
4                     Rogers-Ford            239.517566
5                      Morris LLC            239.517566
6                 Greene and Sons            236.219439
7         Thomas, Hill and Torres            236.219439
8             Williamson-Williams            233.104823
9                       Davis PLC            233.104823
10                      James Ltd            219.985163
11          Rubio, Davis and Dunn            219.985163
12                Newman-Campbell            219.814288
13         Barry, Tran and Osborn            219.814288
14              Henderson-Ramirez            216.268485
15                Rivera-Browning            216.268485
16                     Zavala PLC            213.717600
17                  Payne-Roberts            213.717600
18                     Newman Ltd            212.030942
19                 Huffman-Harris            212.030942
20        Pearson, Cook and Brown            210.578324
21       Ayala, Johnson and Jones            210.578324
22                      Pitts LLC            203.947986
23        Rice, Marshall and Hall            203.947986
24                  Sullivan-King            203.875456
25                     Martin Ltd            203.875456
26   Moore, Figueroa and Chandler            193.133720
27       Ross, Guerrero and Hines            193.133720
28                    Johnson LLC            180.406229
29         Hebert, King and Jones            180.406229

# Query 8

In [33]:
#Q8;- # Query to calculate the average order amount for each promotion
average_order_by_promotion = """
SELECT p.promotion_id, p.discount_percentage, AVG(o.sales) AS average_sales
FROM promotion p
JOIN orders o ON p.promotion_id = p.promotion_id
GROUP BY p.promotion_id, p.discount_percentage
ORDER BY average_sales DESC;
"""


average_order_by_promotion_data = pd.read_sql(average_order_by_promotion, engine)
print(average_order_by_promotion_data)

      promotion_id  discount_percentage  average_sales
0              617            21.955450     219.577176
1              594             0.028032     219.577176
2              956            17.962958     219.577176
3              306            40.672510     219.577176
4              166            63.336167     219.577176
...            ...                  ...            ...
1995           556            16.592954     219.577176
1996           843             5.640900     219.577176
1997           578            94.436431     219.577176
1998           346            39.346065     219.577176
1999           436            14.594438     219.577176

[2000 rows x 3 columns]

# Q9 Year wise Sales

In [34]:
yearly_sales_query = """
SELECT DATE_TRUNC('year', order_date) AS year, SUM(sales) AS total_sales
FROM orders
GROUP BY year
ORDER BY year;
"""

yearly_sales = pd.read_sql(yearly_sales_query, engine)
print(yearly_sales)

        year  total_sales
0 2014-01-01  415991.9920
1 2015-01-01  443757.8480
2 2016-01-01  625453.7316
3 2017-01-01  714520.5738

#### Store contributing highest sales in each month in year 2014

In [38]:
desired_year = 2014

top_store_per_month_query = """
WITH ranked_stores AS (
    SELECT s.store_id, s.store_name,
           TO_CHAR(o.order_date, 'Month') AS order_month,
           SUM(o.sales) AS total_sales,
           ROW_NUMBER() OVER(PARTITION BY TO_CHAR(o.order_date, 'Month') ORDER BY SUM(o.sales) DESC) AS rank
    FROM stores s
    JOIN orders o ON s.store_id = o.store_id
    WHERE EXTRACT(YEAR FROM o.order_date) = {year}
    GROUP BY s.store_id, s.store_name, order_month
)
SELECT store_id, store_name, order_month, total_sales
FROM ranked_stores
WHERE rank = 1
ORDER BY total_sales desc;
""".format(year=desired_year)

top_store_per_month = pd.read_sql(top_store_per_month_query, engine)
print(top_store_per_month)

    store_id                    store_name order_month  total_sales
0          9                     Davis PLC   December     19542.852
1          3                   Rogers-Ford   November     13927.044
2          6       Rice, Marshall and Hall   May           7388.180
3          3                    Morris LLC   March         7212.102
4         15  Richards, Delgado and Bailey   September     6207.978
5         15  Richards, Delgado and Bailey   August        5147.514
6         13       Pearson, Cook and Brown   October       4318.232
7         15  Richards, Delgado and Bailey   July          4013.560
8         12  Moore, Figueroa and Chandler   April         4000.562
9         14             Henderson-Ramirez   June          3681.757
10         5        Hebert, King and Jones   January       3344.430
11        11         Rubio, Davis and Dunn   February      1253.348

#### Store contributing highest sales in each month in year 2015

In [39]:
desired_year = 2015

top_store_per_month_query = """
WITH ranked_stores AS (
    SELECT s.store_id, s.store_name,
           TO_CHAR(o.order_date, 'Month') AS order_month,
           SUM(o.sales) AS total_sales,
           ROW_NUMBER() OVER(PARTITION BY TO_CHAR(o.order_date, 'Month') ORDER BY SUM(o.sales) DESC) AS rank
    FROM stores s
    JOIN orders o ON s.store_id = o.store_id
    WHERE EXTRACT(YEAR FROM o.order_date) = {year}
    GROUP BY s.store_id, s.store_name, order_month
)
SELECT store_id, store_name, order_month, total_sales
FROM ranked_stores
WHERE rank = 1
ORDER BY total_sales desc;
""".format(year=desired_year)

top_store_per_month = pd.read_sql(top_store_per_month_query, engine)
print(top_store_per_month)

    store_id                     store_name order_month  total_sales
0         11          Rubio, Davis and Dunn   November     8414.5812
1          7                Greene and Sons   December     8187.3480
2          7                Greene and Sons   September    6311.2600
3         11                      James Ltd   March        6017.1280
4          2                     Newman Ltd   August       4970.8220
5          1  Freeman, Elliott and Campbell   January      4829.0240
6          5         Hebert, King and Jones   May          4256.4915
7          6                      Pitts LLC   October      4024.8080
8          5                    Johnson LLC   June         3769.2530
9          2                 Huffman-Harris   April        3514.6975
10         6        Rice, Marshall and Hall   July         2926.5060
11         2                     Newman Ltd   February     2909.8100

#### Store contributing highest sales in each month in year 2016

In [40]:
desired_year = 2016

top_store_per_month_query = """
WITH ranked_stores AS (
    SELECT s.store_id, s.store_name,
           TO_CHAR(o.order_date, 'Month') AS order_month,
           SUM(o.sales) AS total_sales,
           ROW_NUMBER() OVER(PARTITION BY TO_CHAR(o.order_date, 'Month') ORDER BY SUM(o.sales) DESC) AS rank
    FROM stores s
    JOIN orders o ON s.store_id = o.store_id
    WHERE EXTRACT(YEAR FROM o.order_date) = {year}
    GROUP BY s.store_id, s.store_name, order_month
)
SELECT store_id, store_name, order_month, total_sales
FROM ranked_stores
WHERE rank = 1
ORDER BY total_sales desc;
""".format(year=desired_year)

top_store_per_month = pd.read_sql(top_store_per_month_query, engine)
print(top_store_per_month)

    store_id                     store_name order_month  total_sales
0         13        Pearson, Cook and Brown   December     13695.110
1         11          Rubio, Davis and Dunn   April        13054.729
2          4                     Martin Ltd   May          12447.814
3         15   Richards, Delgado and Bailey   February      9510.158
4         10         Barry, Tran and Osborn   November      8789.582
5         10                Newman-Campbell   July          7215.644
6          1  Freeman, Elliott and Campbell   September     6948.460
7          8                  Payne-Roberts   June          6881.694
8         15                   Gonzalez PLC   October       6176.224
9          3                    Rogers-Ford   March         5709.982
10         1  Freeman, Elliott and Campbell   January       4593.402
11         7        Thomas, Hill and Torres   August        4275.806

#### Store contributing highest sales in each month in year 2017

In [41]:
desired_year = 2017

top_store_per_month_query = """
WITH ranked_stores AS (
    SELECT s.store_id, s.store_name,
           TO_CHAR(o.order_date, 'Month') AS order_month,
           SUM(o.sales) AS total_sales,
           ROW_NUMBER() OVER(PARTITION BY TO_CHAR(o.order_date, 'Month') ORDER BY SUM(o.sales) DESC) AS rank
    FROM stores s
    JOIN orders o ON s.store_id = o.store_id
    WHERE EXTRACT(YEAR FROM o.order_date) = {year}
    GROUP BY s.store_id, s.store_name, order_month
)
SELECT store_id, store_name, order_month, total_sales
FROM ranked_stores
WHERE rank = 1
ORDER BY total_sales desc;
""".format(year=desired_year)

top_store_per_month = pd.read_sql(top_store_per_month_query, engine)
print(top_store_per_month)

    store_id                     store_name order_month  total_sales
0          9            Williamson-Williams   November    17102.3100
1          8                  Payne-Roberts   October     14681.2540
2          2                 Huffman-Harris   January     13333.9330
3          2                 Huffman-Harris   August      10576.2040
4         12       Ross, Guerrero and Hines   December    10236.8800
5         10         Barry, Tran and Osborn   September    9276.2960
6          1  Freeman, Elliott and Campbell   June         8495.6160
7          5                    Johnson LLC   May          6615.0900
8          4                     Martin Ltd   July         6179.6280
9          6                      Pitts LLC   April        5279.7460
10         3                     Morris LLC   March        4172.2008
11         8                  Payne-Roberts   February     3404.3910

# Q10 Customer Retention Rate:
#### Determine the customer retention rate by analyzing how many customers made repeat purchases.

In [42]:
customer_retention_query = """
SELECT COUNT(DISTINCT customer_id) AS returning_customers,
       COUNT(DISTINCT order_id) AS total_orders,
       COUNT(DISTINCT customer_id) / COUNT(DISTINCT order_id)::FLOAT AS retention_rate
FROM orders;
"""

customer_retention = pd.read_sql(customer_retention_query, engine)
print(customer_retention)

   returning_customers  total_orders  retention_rate
0                  793          5009        0.158315

# Q11RFM Analysis (Recency, Frequency, Monetary):
#### Perform RFM analysis to identify the most valuable customers based on recency of purchase, frequency of purchase, and monetary value.

In [43]:
rfm_analysis_query = """
SELECT customer_id,
       DATE_PART('day', CURRENT_DATE - MAX(order_date)) AS recency,
       COUNT(DISTINCT order_id) AS frequency,
       SUM(sales) AS monetary_value
FROM orders
GROUP BY customer_id
ORDER BY recency DESC, frequency DESC, monetary_value DESC;
"""

rfm_analysis = pd.read_sql(rfm_analysis_query, engine)
print(rfm_analysis)

    customer_id  recency  frequency  monetary_value
0      NB-18580   3212.0          2         547.744
1      GR-14560   3182.0          2          70.920
2      RE-19405   3144.0          1          96.720
3      CM-12715   3082.0          4        1603.800
4      VT-21700   3047.0          2         396.704
..          ...      ...        ...             ...
788    KH-16360   2048.0          6        2652.608
789    CC-12430   2047.0         10        3348.580
790    PO-18865   2047.0          7        2679.912
791    JM-15580   2047.0          5         267.384
792    EB-13975   2047.0          4        3236.880

[793 rows x 4 columns]

# Q12 Sales Growth Over Time:
#### Calculate the year-over-year or month-over-month sales growth to understand how your business is performing and whether there are any growth trends.

In [44]:
sales_growth_query = """
WITH monthly_sales AS (
    SELECT TO_CHAR(order_date, 'YYYY-MM') AS order_month,
           SUM(sales) AS total_sales
    FROM orders
    GROUP BY order_month
)
SELECT order_month,
       total_sales,
       LAG(total_sales) OVER (ORDER BY order_month) AS prev_month_sales,
       (total_sales - LAG(total_sales) OVER (ORDER BY order_month)) / LAG(total_sales) OVER (ORDER BY order_month) AS sales_growth
FROM monthly_sales
ORDER BY order_month;
"""

sales_growth = pd.read_sql(sales_growth_query, engine)
print(sales_growth)

   order_month  total_sales  prev_month_sales  sales_growth
0      2014-01   12834.2040               NaN           NaN
1      2014-02    3721.4720        12834.2040     -0.710035
2      2014-03   38047.9000         3721.4720      9.223885
3      2014-04   24831.3120        38047.9000     -0.347367
4      2014-05   31878.6980        24831.3120      0.283810
5      2014-06   27675.3960        31878.6980     -0.131853
6      2014-07   27125.8880        27675.3960     -0.019855
7      2014-08   29334.0640        27125.8880      0.081405
8      2014-09   53363.5220        29334.0640      0.819166
9      2014-10   27002.5180        53363.5220     -0.493989
10     2014-11   66365.4700        27002.5180      1.457751
11     2014-12   73811.5480        66365.4700      0.112198
12     2015-01   21752.5360        73811.5480     -0.705296
13     2015-02   14356.3860        21752.5360     -0.340013
14     2015-03   32371.3040        14356.3860      1.254837
15     2015-04   27747.2730        32371.3040     -0.142844
16     2015-05   28214.5050        27747.2730      0.016839
17     2015-06   26563.5120        28214.5050     -0.058516
18     2015-07   23636.5740        26563.5120     -0.110186
19     2015-08   37994.4020        23636.5740      0.607441
20     2015-09   54323.1680        37994.4020      0.429768
21     2015-10   33667.9710        54323.1680     -0.380228
22     2015-11   78309.0630        33667.9710      1.325922
23     2015-12   64821.1540        78309.0630     -0.172239
24     2016-01   21742.0020        64821.1540     -0.664585
25     2016-02   35205.2120        21742.0020      0.619226
26     2016-03   39033.5220        35205.2120      0.108743
27     2016-04   53737.9960        39033.5220      0.376714
28     2016-05   70899.6360        53737.9960      0.319358
29     2016-06   48992.4540        70899.6360     -0.308989
30     2016-07   32175.1600        48992.4540     -0.343263
31     2016-08   29500.5290        32175.1600     -0.083127
32     2016-09   61448.3406        29500.5290      1.082957
33     2016-10   39279.5020        61448.3406     -0.360772
34     2016-11   76226.8200        39279.5020      0.940626
35     2016-12  117212.5580        76226.8200      0.537681
36     2017-01   45499.9520       117212.5580     -0.611817
37     2017-02   19539.1768        45499.9520     -0.570567
38     2017-03   40163.9836        19539.1768      1.055562
39     2017-04   34848.9500        40163.9836     -0.132333
40     2017-05   40488.7528        34848.9500      0.161836
41     2017-06   65858.1730        40488.7528      0.626579
42     2017-07   37258.0000        65858.1730     -0.434269
43     2017-08   65666.3520        37258.0000      0.762477
44     2017-09   73093.8300        65666.3520      0.113109
45     2017-10   76727.9480        73093.8300      0.049719
46     2017-11  125824.6196        76727.9480      0.639880
47     2017-12   89550.8360       125824.6196     -0.288288